.photo-grid {
    position: relative;
    font-family: 'OpenSans', Helvetica, sans-serif;
    padding-top: 82px;
}

.photo-grid__btm-list {
    padding: 0;
    margin: 0 auto 82px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.photo-grid__btm-item {
    margin: 0 22px 0 0;
}

.photo-grid__btn {
    min-width: 192px;
    padding: 5px 45px 9px;
    font-family: 'OpenSans', Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 41px;
    text-align: center;
    color: var(--black);
}

.photo-grid__btm-item:last-of-type {
    margin-right: 0;
}

.photo-grid__nav-bar {
    margin: 0 154px 34px 228px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.photo-grid__nav-button {
    padding: 13px 16px;
}

.photo-grid__slider-container {
    margin: 0 100px 20px;
    position: relative;
}

.photo-grid__slider {
    max-width: 1295px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    /*overflow: hidden;*/
}

.photo-grid__item {
    margin: 0 0 0 140px;
}

.photo-grid__slider-pic {
    object-fit: cover;
    width: 337px;
    height: 200px;
}

.photo-grid__slider-pic_active {
    transform: scale(1.3) translate(0, -10px);
}

.photo-grid__pic-author {
    margin: 60px 0 0;
    font-family: 'OpenSans', Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
    color: var(--gray-6);
}

.photo-grid__pic-author_active {
    color: var(--blue);
}

.photo-grid__gradient {
    width: 400px;
    height: 300px;
}

.photo-grid__gradient_left {
    position: absolute;
    top: -10px;
    left: -80px;
}

.photo-grid__gradient_right {
    position: absolute;
    top: -10px;
    right: -150px;
    transform: rotate(180deg);
}

.photo-grid__nickname {
    margin: 0;
    font-family: 'TippyToes', Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: var(--white);
}

.photo-grid__author {
    /*width: 100%;*/
    margin: 0 154px 0 222px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.photo-grid__story {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.photo-grid__quote {
    margin: 0;
    font-family: 'TippyToes', Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: var(--white);
    transform: matrix(1, -0.05, 0.05, 1, 0, 0);
}

.photo-grid__paragraph {
    max-width: 468px;
    margin: 0 auto 0 6px;
    font-family: 'OpenSans', Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    color: var(--gray-7);
}

.photo-grid__quote_lower {
    transform: matrix(-1, 0, 0, -1, 0, 0);
    align-self: flex-end;
}

.photo-grid__picture-container {
    margin: 0 0 0 85px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: flex-end;
}

.photo-grid__author-nickname {
    margin: auto 23px 0 0;
    font-family: 'TippyToes', Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-align: left;
    color: var(--white);
}

.photo-grid__author-pic {
    width: 259px;
    height: 298px;
}

.photo-grid__pic-subtitle {
    margin: 0;
    font-family: 'OpenSans', Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    color: var(--gray-1);
    text-transform: uppercase;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    position: absolute;
    top: 0;
    left: 30px;
}

.photo-grid__side-bar_left {
    position: absolute;
    top: 180px;
    left: 142px;
    z-index: 10;
}
