.photo-grid {
    position: relative;
    font-family: 'OpenSans', Helvetica, sans-serif;
    padding-top: 82px;
    background: var(--background);
    overflow: hidden;
    margin: 0 auto 77px;
}

.photo-grid__btm-list {
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.photo-grid__btm-item {
    margin: 0 22px 0 0;
}

.photo-grid__btn {
    min-width: 192px;
    padding: 5px 45px 9px;
    font-family: 'OpenSans', Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 41px;
    text-align: center;
    border: 1px solid var(--blue);
    color: var(--blue);
}

.photo-grid__btm-item:last-of-type {
    margin-right: 0;
}

.photo-grid__nav-bar {
    margin: 0 154px 34px 228px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.photo-grid__nav-button {
    padding: 13px 16px;
}

.photo-grid__container {
    margin: 0 auto 22px 224px;
    width: 950px;
    /*height: 321px;*/
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
}

.photo-grid__container::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /*width: 950px;*/
    height: 321px;
    margin: 0 auto;
    background: linear-gradient(
        90deg,
        rgba(32, 32, 32, 1) 0%,
        rgba(255, 255, 255, 0) 20%,
        rgba(255, 255, 255, 0) 80%,
        rgba(32, 32, 32, 1) 100%
    );
}

.photo-grid__track {
    list-style: none;
    margin: 82px auto 0;
    padding: 0;
    --gap: 120px;
    width: 100%;
    /*height: 200px;*/
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-end;
    gap: var(--gap);
    transition: 0.2s;
    justify-self: flex-end;
    transform: translateX(-160px);
}

.photo-grid__image {
    object-fit: cover;
    width: 337px;
    height: 200px;
}

.photo-grid__image_active {
    transform: scale(1.3) translate(0, -10px);
}

.photo-grid__author {
    margin: 60px 0 0;
    font-family: 'OpenSans', Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
    color: var(--gray-6);
}

.photo-grid__author_active {
    color: var(--blue);
}

.photo-grid__nickname {
    margin: 0;
    font-family: 'TippyToes', Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: var(--white);
}

.photo-grid__nickname_active {
    display: block;
}

.photo-grid__text-container {
    /*width: 100%;*/
    margin: 0 154px 0 222px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.photo-grid__story {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.photo-grid__quote {
    margin: 0;
    font-family: 'TippyToes', Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: var(--white);
    transform: matrix(1, -0.05, 0.05, 1, 0, 0);
}

.photo-grid__paragraph {
    max-width: 468px;
    margin: 0 auto 0 6px;
    font-family: 'OpenSans', Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    color: var(--gray-7);
}

.photo-grid__quote_lower {
    transform: matrix(-1, 0, 0, -1, 0, 0);
    align-self: flex-end;
}

.photo-grid__picture-container {
    margin: 0 0 0 85px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: flex-end;
}

.photo-grid__author-nickname {
    margin: auto 23px 0 0;
    font-family: 'TippyToes', Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-align: left;
    color: var(--white);
}

.photo-grid__author-pic {
    width: 259px;
    height: 298px;
}

.photo-grid__pic-subtitle {
    margin: 0;
    font-family: 'OpenSans', Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    color: var(--gray-1);
    text-transform: uppercase;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    position: absolute;
    top: 0;
    left: 30px;
}

.photo-grid__side-bar_left {
    position: absolute;
    top: 180px;
    left: 142px;
    z-index: 10;
}
