:root {
    /*colors*/
    --gray: #202020;
    --gray-1: #2d2d2d;
    --gray-2: #3a3a3a;
    --gray-3: #5d5d5d;
    --gray-4: #303435;
    --gray-6: #535353;
    --gray-7: #8a8a8a;
    --gray-8: #272727;
    --blue: #04f1ff;
    --white: #ffffff;
    --black: #000000;

    /*backgrounds*/
    --background: var(--gray);

    /*texts*/
    --main-text-intro: var(--gray-3);
    --main-text: var(--gray-7);
}

/** {*/
/*    font-family: 'Helvetica', sans-serif;*/
/*}*/
