.elements {
    margin: 0 auto 22px 224px;
    width: 950px;
    /*height: 321px;*/
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
}

.elements::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /*width: 950px;*/
    height: 321px;
    margin: 0 auto;
    background: linear-gradient(
        90deg,
        rgba(32, 32, 32, 1) 0%,
        rgba(255, 255, 255, 0) 20%,
        rgba(255, 255, 255, 0) 80%,
        rgba(32, 32, 32, 1) 100%
    );
}

.elements__list {
    margin: 82px auto 0;
    padding: 0;
    --gap: 120px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-end;
    gap: var(--gap);
    transition: 0.2s;
    justify-self: flex-end;
    transform: translateX(-160px);
}

.elements__list-item {
    list-style: none;
    padding: 0;
}
